:host {
  position: relative;
  z-index: 1;
}

.background-title {
  position: absolute;
  left: -15px;
  top: -100px;
  font-size: 80px;
  color: #b5bbde;
  margin: 0;
  z-index: 2;
  transform: rotate(90deg);
  transform-origin: 0 100%;

  h3 {
    margin: 0;
  }
}

.page {
  z-index: 3;
  position: relative;
  margin-left: 100px;
}
