<app-page-with-vertical-title title="Formation">
	<dl class="date-table">
		<dt>
			<div>2004 – 2005</div>
		</dt>
		<dd>
			<p>
				<strong>Licence Professionnelle Concepteur/Intégrateur de systèmes Internet/Intranet</strong> mention Bien<br>
				<em>IUT Charlemagne – Université Nancy II</em>
			</p>
		</dd>

		<dt>
			<div>2002 – 2004</div>
		</dt>
		<dd>
			<p>
				<strong>DUT Diplôme Universitaire de Technologie</strong><br>
				Informatique Génie Logiciel<br>
				<em>IUT Charlemagne – Université Nancy II</em>
			</p>
		</dd>

		<dt>
			<div>2000 – 2002</div>
		</dt>
		<dd>
			<p>
				<strong>Baccalauréat Scientifique</strong> mention Bien<br>
				Spécialité Sciences de l’ingénieur Option Physique-Chimie<br>
				<em>Lycée H. Loritz, Nancy</em>
			</p>
		</dd>
	</dl>
</app-page-with-vertical-title>
