<app-page-with-vertical-title title="Compétences">
	<h4>Aptitudes</h4>
	<ul>
		<li>Passionné, goût du challenge, ouvert</li>
		<li>Leadership, esprit d’équipe</li>
		<li>Autonome</li>
		<li>Créatif et force de proposition</li>
		<li>Accepte le changement, esprit d’entreprendre</li>
	</ul>

	<h4>Compétences techniques</h4>
	<ul>
		<li><strong>Java 13</strong>, JEE, Swing, <strong>Spring Framework</strong>, <strong>Spring Boot</strong>, Hibernate, Guava,
			Concurrent Programming, Android, Scala, JUnit, TestNG
		</li>
		<li><strong>Angular</strong>, <strong>Typescript</strong>, Node.JS, HTML5, XML</li>
		<li>Maven, Gradle, Sbt, Jenkins, Eclipse, IDEA IntelliJ</li>
		<li>Git, GitHub, Subversion, CVS</li>
		<li>EventSourcing, Oracle, PostgreSQL, MySQL, MongoDB, Redis</li>
		<li>Docker</li>
		<li>PHP, .NET, Cobol, C</li>
		<li>IT&nbsp;: Linux (Ubuntu, Debian, RedHat), Apache, Nginx, Tomcat, Ansible</li>
		<li>Agile methodologies, Extreme Programming, Scrum, TDD, Intégration continue</li>
	</ul>
</app-page-with-vertical-title>
