<app-page-with-vertical-title title="Présentation">
  <div>
    <p>Développeur Web de formation, j'ai acquis une solide expérience dans la conception d'applications Web JAVA (J2EE)
      ainsi que dans la conception de clients riches HTML/Javascript (AJAX). En complément, j'ai acquis de l'expérience
      IT tel que l'administration de serveurs Linux/Apache/Tomcat.</p>
    <p>Grâce à d'autres expériences professionnelles ou personnelles, je possède aussi des compétences en PHP, .NET et
      en SGBD.</p>
  </div>
  <div>
    <p>Plusieurs moyens possibles pour me contacter&nbsp;:
    </p>
    <ul>
      <li>par mail à l'adresse: loic
        <!-- ANTI --> AT <!-- SPAM -->
        loicbarbier.fr
      </li>
      <li>par <a href="https://fr.linkedin.com/in/loicbarbier/">LinkedIn</a></li>
    </ul>
    <p></p>
  </div>
</app-page-with-vertical-title>
