<app-page-with-vertical-title title="Présentation">
	<div>
		<p>En qualité de développeur Web depuis près de 15 ans et en qualité d'Architecte Logiciel depuis 4 ans, j'ai acquis une solide
			expérience DevOps dans la conception d'architectures techniques performantes et résilientes ainsi que leur exploitation. En bout
			de chaîne, je maîtrise aussi la conception d'applications riches clientes.</p>
		<p>Pédagogue, je participe aussi à l'animation technique des équipes de R&D et facilite leur montée en compétences
			à travers formation et support.</p>
		<p>Je maîtrise aussi les processus d'industrialisation à travers le montage d'usine logicielle (intégration continue, vérification
			automatique de qualité, déploiement continu).</p>
		<p>Développeur passionné et ayant le goût du challenge, je suis toujours à la recherche du meilleur moyen de résoudre des problèmes,
			algorithmiques ou logiques et de comment les résoudre dans une logique métier.</p>
	</div>
	<div>
		<p>Plusieurs moyens possibles pour me contacter&nbsp;:
		</p>
		<ul>
			<li>par mail à l'adresse: loic
				<!-- ANTI --> AT <!-- SPAM -->
				loicbarbier.fr
			</li>
			<li>par <a href="https://fr.linkedin.com/in/loicbarbier/">LinkedIn</a></li>
		</ul>
		<p></p>
	</div>
</app-page-with-vertical-title>
