<app-page-with-vertical-title title="Expériences">
  <dl class="date-table">
    <dt>
      <div>octobre 2015 - aujourd'hui</div>
    </dt>
    <dd>
      <p>
        <strong>Architecte Logiciel</strong><br>
        <em>DIATELIC, pôle eSanté PHARMAGEST Interactive – Villers-lès-Nancy</em>
      </p>

      <ul>
        <li>Réalisation d’audits techniques, analyses de risque et définition de l’architecture logicielle des
          applications&nbsp;: migration de clients lourds et monolothiques utilisant le framework ZK vers une
          architecture
          WebServices (Java / Services SpringBoot / MySQL) – Front Angular avec Redux
        </li>
        <li>Conception des logiciels développés par les 3 équipes eSanté&nbsp;: les applications ont des finalités
          propres
          mais reposent sur un noyau commun. Mon rôle est de permettre à chaque équipe de progresser dans leurs
          développements, d'utiliser et d'enrichir le noyau tout en assurant la maintenabilité et la pérennité des
          systèmes
        </li>
        <li>Définition de référentiels et normes techniques ainsi que des procédures qualité comme la revue de code</li>
        <li>Développement et accompagnement/formation continue de deux équipes composées de 10 développeurs</li>
        <li>Maintenance des outils de tests automatisés (tests unitaires, tests d’intégration, tests de charge)</li>
        <li>Maintenance de l’usine de développement logiciel composée de l’intégration continue, de l’audit automatisé
          de code
        </li>
        <li>Définition de l’architecture de production (dimensionnement des infrastructures, collaboration et soutien
          aux équipes d’exploitation, définition de la supervision)
        </li>
        <li>Gouvernance sur la plateforme Patient utilisée par les applications Pharmagest</li>
        <li>Veille technologique&nbsp;: organisation et restitution aux équipes</li>
        <li>Participation aux communautés R&D du groupe pour le partage de connaissances</li>
      </ul>
    </dd>
    <dt>
      <div>mai 2013 - septembre 2015</div>
    </dt>
    <dd>
      <p>
        <strong>Ingénieur développement</strong><br>
        <em>DIATELIC, pôle eSanté PHARMAGEST Interactive – Villers-lès-Nancy</em>
      </p>

      <ul>
        <li>Spécification et développement au sein d’une équipe de 8 développeurs d’applications de suivi de patients et
          d’étude de télémédecine&nbsp;: applications Web riches, développées en utilisant le framework ZK permettant
          l’intégration du client au niveau du serveur
        </li>
        <li>Développement d'une application autour de la néphrologie. Elle démontre l'intérêt de la télémédecine dans le
          cadre du suivi de patients atteints d'insuffisance rénale ou greffés du rein. L'accès Professionnel de Santé
          permet de définir l'historique médical du patient, suivre ses consultations, ses biologies, ses constantes. Le
          patient accède aussi à l'application pour saisir lui-même ses constantes et événements. Technologies&nbsp;:
          Java 7
          / ZK / MySQL / Tomcat 8.
        </li>
        <li>Développement d'un backoffice de gestion de l'ETP (Éducation Thérapeutique du Patient) pour les réseaux de
          santé. Cette application permet la définition d'un programme d'ETP, au sein d'une structure de santé. Il est
          possible d'organiser les séances, définir les plannings et les entretiens de chaque patient. Technologies&nbsp;:
          Java 8 / ZK / MySQL / Tomcat 8.
        </li>
        <li>Développement d'une application permettant à une plateforme téléphonique de suivre des patients, à travers
          des programmes de coaching sur leur maladie. Le travail de la plateforme est découpé en une pile de tâches,
          liées à des patients qui ont été précédemment détectés par les logiciels métier du pharmacien et du médecin.
          Technologies&nbsp;: Java 8 / ZK / MySQL / Tomcat 8.
        </li>
        <li>Industrialisation du développement des applications d'eSanté&nbsp;: mise en place d'une usine logicielle, de
          l'intégration continue au contrôle automatique de qualité du code ; mise en place de bonnes pratiques de
          développement dont les revues de code par les pairs
        </li>
        <li>Installation et Administration en production des applications DIATELIC, dans un environnement virtualisé et
          sécurisé agréé Hébergement de Données de Santé
        </li>
      </ul>
    </dd>
    <dt>
      <div>août 2005 – mai 2013</div>
    </dt>
    <dd>
      <p>
        <strong>Ingénieur développement Java/Javascript</strong><br>
        <em>Merge Healthcare eClinical – Nancy</em> (depuis janvier 2011)<br>
        <em>anciennement KIKA Clinical Solutions – Nancy</em><br>
        <a href="//www.linkedin.com/profile/view?id=72364771&amp;trk=hb_tab_pro_top#recommendations">1
          recommandation</a>
      </p>

      <ul>
        <li>Spécification et développement au sein d'une équipe de 4 développeurs d’une suite logicielle de collecte de
          données cliniques utilisée en mode SaaS composée d’une partie serveur développée en Java (WebServices Servlets
          API) et de deux clients&nbsp;:
          <ul>
            <li>l’un dédié aux outils de configuration utilisés en interne, développé en Java Swing</li>
            <li>le second, client lourd HTML/AJAX utilisé par les clients finaux pour collecter les données.</li>
          </ul>
        </li>
        <li>Le cycle de développement est basé sur des procédures qualité strictes et efficaces, requises pour les
          logiciels utilisés dans la santé et a été certifié ISO 9001 et 13485.
        </li>
        <li>Mise en place d’un outil d’intégration continue Jenkins utilisé pour valider la non-régression grâce aux
          nombreux tests unitaires Java et Javascript et déployer automatiquement les versions stables sur les serveurs
          de validation.
        </li>
        <li>Depuis août 2012, reprise de certaines fonctions d’administration système (gestion du parc nancéen,
          assistance dans la gestion de la plateforme de développement et de production de la suite logicielle&nbsp;:
          RedHat
          Linux, déploiement automatisé par CFEngine).
        </li>
      </ul>
    </dd>

    <dt>
      <div>2005 (avril – juillet)</div>
    </dt>
    <dd>
      <p>
        <strong>Stage en entreprise de fin de Licence Professionnelle</strong><br>
        <em>KIKA Medical – Nancy</em>
      </p>

      <p>
        Développement Java d’un module de synchronisation de projets, intégré au sein des outils de configuration de la
        nouvelle suite logicielle de suivi d’études cliniques en conception.
      </p>
    </dd>

    <dt>
      <div>2004 (avril – juillet)</div>
    </dt>
    <dd>
      <p>
        <strong>Stage en entreprise de fin de DUT</strong><br>
        <em>AFPA Pompey – Frouard</em>
      </p>

      <p>
        Développement de deux applications Web&nbsp;:
      </p>
      <ul>
        <li>Application de gestion de questionnaires de candidatures, refonte totale d’un projet existant VB en
          technologie .NET et mise en production (installation d’un serveur IIS sur Windows server 2003)
        </li>
        <li>Application de gestion de planning de cours en PHP (utilisation de gestionnaire de bibliothèques PEAR, du
          moteur de templates Smarty pour une architecture MVC)
        </li>
      </ul>
      <p></p>
    </dd>
  </dl>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>2005 (avril – juillet)</mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        <strong>Stage en entreprise de fin de Licence Professionnelle</strong><br>
        <em>KIKA Medical – Nancy</em>
      </p>

      <p>
        Développement Java d’un module de synchronisation de projets, intégré au sein des outils de configuration de la
        nouvelle suite logicielle de suivi d’études cliniques en conception.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>2004 (avril – juillet)</mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        <strong>Stage en entreprise de fin de DUT</strong><br>
        <em>AFPA Pompey – Frouard</em>
      </p>

      <p>
        Développement de deux applications Web&nbsp;:
      </p>
      <ul>
        <li>Application de gestion de questionnaires de candidatures, refonte totale d’un projet existant VB en
          technologie .NET et mise en production (installation d’un serveur IIS sur Windows server 2003)
        </li>
        <li>Application de gestion de planning de cours en PHP (utilisation de gestionnaire de bibliothèques PEAR, du
          moteur de templates Smarty pour une architecture MVC)
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</app-page-with-vertical-title>
