.section-profile {
  background-image: url('/assets/bg1.svg');
  @apply bg-cover;
}

.section-aboutme {
  background-image: url('/assets/bg2.svg');
  @apply bg-cover;
}

.section-skills {
  background-image: url('/assets/bg3.svg');
  @apply bg-cover;
}

.contactme {
  @apply h-screen w-0 fixed z-10 top-0 left-0 overflow-hidden py-10 text-white overflow-y-scroll;
  background-color: rgba(18, 74, 133, 1);
  transition: 0.5s;

  &.contactme-open {
    @apply w-full p-10;
  }

  .contactme-close {
    @apply absolute right-10 top-4 text-4xl text-white;
  }
}
